<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>基于psutil的系统监控工具</title>
    <style>
	/*底部页脚*/
	.github-badge {
	  display: inline-block;
	  border-radius: 2px;
	  text-shadow: none;
	  font-size: 12px;
	  color: #fff;
	  line-height: 15px;
	  background-color: #abbac3;
	  margin-bottom: 3px
	}

	.github-badge .badge-subject {
	  display: inline-block;
	  background-color: #4d4d4d;
	  padding: 4px 4px 4px 6px;
	  border-top-left-radius: 4px;
	  border-bottom-left-radius: 4px
	}

	.github-badge .badge-value {
	  display: inline-block;
	  padding: 4px 6px 4px 4px;
	  border-top-right-radius: 4px;
	  border-bottom-right-radius: 4px
	}

	.github-badge .bg-blue {
	  background-color: #007ec6
	}

	.github-badge .bg-orange {
	  background-color: #ff9f18
	}
	.github-badge .bg-lit {
	  background-color: #99FF33
	}

	.github-badge .bg-red {
	  background-color: #FF3366
	}

	.github-badge .bg-green {
	  background-color: #00c787
	}

	.github-badge .bg-purple {
	  background-color: #ab34e9
	}
	.github-badge .bg-yellow {
		background-color: #D8B024 !important;
	}
	.github-badge .bg-blueviolet {
		background-color: #9933FF !important;
	}
	.github-badge .bg-pink {
		background-color: #F26BAE !important;
	}
	.github-badge .bg-lightgrey {
		background-color: #9F9F9F !important;
	}
	.github-badge .bg-gray {
		background-color: #555 !important;
	}
	.github-badge .bg-lightgray {
		background-color: #9f9f9f !important;
	}
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://static-6cc46a21-10af-4cd7-a52d-d8c57329708e.bspapp.com/css/main.css">
    <link rel="stylesheet" href="https://static-6cc46a21-10af-4cd7-a52d-d8c57329708e.bspapp.com/css/index.css">
    
    {{ bootstrap.load_css() }}
  </head>
  <body>
    <div class="container" style="padding-top: 100px">
      <h2 align="center"> 服务器运行环境监控</h1>
        <div class="row user-list">
        <div class="col-sm-12 user" style="">
            <div id="alert" class="alert alert-success" role="alert" style="margin: auto;left: 0;right: 0;display: none;position: fixed;width: 50%;text-align: center;">删除成功</div>
        </div>
        </div>
        <div class="row user-list">
        <div class="col-sm-12 user">
            <div>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#cpuTab" aria-controls="cpuTab" role="tab" data-toggle="tab">CPU</a></li>
                <li role="presentation"><a href="#memoryTab" aria-controls="memoryTab" role="tab" data-toggle="tab">内存</a></li>
                  <li role="presentation"><a href="#diskTab" aria-controls="diskTab" role="tab" data-toggle="tab">磁盘</a></li>
                <li role="presentation"><a href="#netioTab" aria-controls="netioTab" role="tab" data-toggle="tab">网卡</a></li>
                <li role="presentation"><a href="#processTab" aria-controls="processTab" role="tab" data-toggle="tab">进程</a></li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="cpuTab">
                    <div id="cpu" style="width:800px; height:300px;padding-top: 40px;margin-left: auto;margin-right: auto"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="memoryTab">
                    <div class="row user-list">
                        <div class="col-sm-5 user" style="">
                            <ul class="list-group" style="padding-left:200px;padding-top:50px">
                              <li class="list-group-item list-group-item-success">内存大小：<span class="badge" id="mtotal"></span></li>
                              <li class="list-group-item list-group-item-info">内存已使用大小：<span class="badge" id="mused"></span></li>
                              <li class="list-group-item list-group-item-warning">内存剩余大小：<span class="badge" id="mfree"></span></li>
                                <li class="list-group-item list-group-item-success">交换区大小：<span class="badge" id="stotal"></span></li>
                              <li class="list-group-item list-group-item-info">交换区已使用大小：<span class="badge" id="sused"></span></li>
                              <li class="list-group-item list-group-item-warning">交换区剩余大小：<span class="badge" id="sfree"></span></li>
                            </ul>
                        </div>
                        <div class="col-sm-7 user" style="">
                            <div id="memory" style="width:800px; height:300px;padding-top: 40px;margin-left: -100px;margin-right: auto"></div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="netioTab">
                    <div class="row user-list">
                        <div class="col-sm-12 user" style="">
                            <div id="netio" style="width:800px; height:300px;padding-top: 40px;margin-left: auto;margin-right: auto"></div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="processTab">
                    <table class="table table-hover" style="height:100px;padding-top: 40px;margin-left: auto;margin-right: auto">
                      <thead>
                        <tr>
                          <th>PID</th>
                          <th>程序</th>
                          <th>占用内存</th>
                          <th>创建时间</th>
                          <th>强行停止</th>
                        </tr>
                      </thead>
                      <tbody id="tbody">
                      </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane container" id="diskTab">
                    <div class="row user-list">
                        <div class="col-sm-3 user" style="">
                            <ul class="list-group" style="padding-top:100px">
                              <li class="list-group-item list-group-item-success">磁盘容量：<span class="badge" id="total"></span></li>
                              <li class="list-group-item list-group-item-info">已使用容量：<span class="badge" id="used"></span></li>
                              <li class="list-group-item list-group-item-warning">空闲容量：<span class="badge" id="free"></span></li>
                            </ul>
                        </div>
                        <div class="col-sm-9 user" style="">
                            <div id="disk" style="width:800px; height:300px;padding-top: 40px;margin-left: auto;margin-right: auto"></div>
                        </div>
                    </div>

                </div>

              </div>

            </div>
        </div>
      </div>
  </div>
<div class="container" style="padding-top: 10px">
  <h style="text-align:center">服务器运行环境监控</h>
  {% from 'bootstrap4/utils.html' import render_icon %}

  {{ render_icon('wifi',color='green',size='32px') }}
  
  {{ render_icon('wifi-off',color='red',size='32px') }}
  <h style="text-align:center"> 服务器运行环境监控</h>
</div>
<div class="container" style="padding-top: 10px">
  <h>网络代理节点在线监控</h>
</div>

  <!-- 页脚 -->
    <footer class="container-fluid">
        <div class="container">
			<div class="center">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="github-badge">
					<a href="http://www.beian.miit.gov.cn" rel="nofollow" target="_blank">
						<span class="badge-subject"><font color=ffffff>2021 Copyright</span><span class="badge-value bg-blue">wxiou.cn</span>
					</a>
				</div>
				<div class="github-badge">
					<a href="http://www.beian.miit.gov.cn" rel="nofollow" target="_blank">
						<span class="badge-subject"><font color=ffffff>黔ICP备</span>
						<span class="badge-value bg-pink">19007604号</span>
					</a>
				</div>

				<div class="github-badge">
					<a href="https://console.upyun.com/register/?invite=ByG1JARJw" rel="nofollow" target="_blank">
						<span class="badge-subject"><font color=ffffff>CDN</span>
					</a>
						<span class="badge-value bg-success">又拍云</span>		
				</div>
				<div class="github-badge">
					<a href="https://console.upyun.com/register/?invite=ByG1JARJw" rel="nofollow" target="_blank">
						<span class="badge-subject"><font color=ffffff>Pic</span>
					</a>
						<span class="badge-value bg-red">又拍云</span>
				</div>
				<div class="github-badge">
					<a target="_blank" href="https://www.aliyun.com/minisite/goods?userCode=w1qepxjq">
						<span class="badge-subject"><font color=ffffff>Host</span>
					</a>
						<span class="badge-value bg-blueviolet">阿里云</span>
				</div>
				<div class="github-badge">
					<a href="https://url.cn/1MSos7sX" rel="nofollow" target="_blank">
						<span class="badge-subject"><font color=ffffff>OSS</span>
					</a>
						<span class="badge-value bg-lit">腾讯云</span>
				</div>
				<div class="github-badge">
					<a href="https://console.upyun.com/register/?invite=ByG1JARJw" target="_blank">
						<span class="badge-subject"><font color=ffffff>本网站由又拍云</span>
					</a>
					<span class="badge-value bg-orange">提供CDN加速/云存储服务</span>
				</div>
				<a target="_blank" href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral"
                        class="text-secondary">
                        <img src="https://pcdn.wxiou.cn//20200725164203.png" alt="" style="width:30px; height: 30;" class="align-middle">
                    </a>
            </div>
        </div>
    </footer>    

    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script>
        var chart = echarts.init(document.getElementById('cpu'), 'white', {renderer: 'canvas'});
        var memory = echarts.init(document.getElementById('memory'), 'white', {renderer: 'canvas'});
        var netio = echarts.init(document.getElementById('netio'), 'white', {renderer: 'canvas'});
        var disk = echarts.init(document.getElementById('disk'), 'white', {renderer: 'canvas'});

        $(
            function () {
                fetchData(chart);
                setInterval(fetchData, 2000);
                fetchMemoryData(memory);
                setInterval(fetchMemoryData, 2000);
                fetchNetioData(netio);
                setInterval(fetchNetioData, 2000);
                setInterval(fetchProcessData, 2000);
                fetchDiskData(disk);
                setInterval(fetchDiskData, 2000);
            },
            $('#myTabs a').click(function (e) {
              e.preventDefault()
              $(this).tab('show')
            })
        );

        function fetchData() {
            $.ajax({
                type: "GET",
                url: "/cpu",
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result);
                }
            });
        }

        function fetchMemoryData() {
            $.ajax({
                type: "GET",
                url: "/memory",
                dataType: 'json',
                success: function (result) {
                    memory.setOption(JSON.parse(result.liquid));
                    $('#mtotal').html((result.mtotal/1024/1024/1024).toFixed(2) + 'G')
                    $('#mused').html((result.mused/1024/1024/1024).toFixed(2) + 'G')
                    $('#mfree').html((result.mfree/1024/1024/1024).toFixed(2) + 'G')
                    $('#stotal').html((result.stotal/1024/1024/1024).toFixed(2) + 'G')
                    $('#sused').html((result.sused/1024/1024/1024).toFixed(2) + 'G')
                    $('#sfree').html((result.sfree/1024/1024/1024).toFixed(2) + 'G')
                }
            });
        }
        function fetchNetioData() {
            $.ajax({
                type: "GET",
                url: "/netio",
                dataType: 'json',
                success: function (result) {
                    netio.setOption(result);
                }
            });
        }
        function fetchProcessData() {
            $.ajax({
                type: "GET",
                url: "/process",
                dataType: 'json',
                success: function (result) {
                    html = ''
                    list = result.list
                    for (var l in list) {
                        html = html +'<tr><td>' + list[l].PID + '</td><td>' + list[l].name + '</td><td>' + list[l].mem + '</td><td>' + list[l].ctime + '</td><td><button type="button" class="btn btn-default btn-xs" onclick="delProcess('+list[l].PID+')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td></tr>'
                    }
                    $('#tbody').html(html)
                }
            })
        }

        function delProcess(pid) {
            $.ajax({
                type: "GET",
                url: "/delprocess?pid="+pid,
                dataType: 'json',
                success: function (result) {
                    $("#alert").fadeIn(1000);
                    $("#alert").fadeOut(3000);
                }
            })
        }

        function fetchDiskData() {
            $.ajax({
                type: "GET",
                url: "/disk",
                dataType: 'json',
                success: function (result) {
                    disk.setOption(JSON.parse(result.line));
                    $('#total').html((result.total/1000000000).toFixed(2) + 'G')
                    $('#used').html((result.used/1000000000).toFixed(2) + 'G')
                    $('#free').html((result.free/1000000000).toFixed(2) + 'G')
                }
            });
        }

    </script>
    {{ bootstrap.load_js() }}
  </body>
</html>
